@font-face {
    font-family: 'glacial';
    src: url('../font/glacialindifference-bold-webfont.woff2') format('woff2'),
        url('../font/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'glacial';
    src: url('../font/glacialindifference-italic-webfont.woff2') format('woff2'),
        url('../font/glacialindifference-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'glacial';
    src: url('../font/glacialindifference-regular-webfont.woff2') format('woff2'),
        url('../font/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 

}
.wrapper {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: linear-gradient(to bottom right, #223b73, #6B2171);
    text-align: center;
    color: #eeeeee;
    font-family: glacial, Arial, Helvetica, sans-serif;
    padding: 100px;
    
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;

    -webkit-animation: background_col 8s infinite; /* Safari 4.0 - 8.0 */
    animation: background_col 8s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes background_col {
    0%   {background-image: linear-gradient(0deg, #223b73, #6B2171); }
    12.5%  {background-image: linear-gradient(45deg, #223b73, #6B2171); }
    25%  {background-image: linear-gradient(90deg, #223b73, #6B2171); }
    37.5%  {background-image: linear-gradient(135deg, #223b73, #6B2171); }
    50%  {background-image: linear-gradient(180deg, #223b73, #6B2171); }
    62.5%  {background-image: linear-gradient(-135deg, #223b73, #6B2171); }
    75%  {background-image: linear-gradient(-90deg, #223b73, #6B2171); }
    87.5%  {background-image: linear-gradient(-45deg, #223b73, #6B2171); }
    100% {background-image: linear-gradient(0deg, #223b73, #6B2171); }
}
@keyframes background_col {
    0%   {background-image: linear-gradient(0deg, #223b73, #6B2171); }
    12.5%  {background-image: linear-gradient(45deg, #223b73, #6B2171); }
    25%  {background-image: linear-gradient(90deg, #223b73, #6B2171); }
    37.5%  {background-image: linear-gradient(135deg, #223b73, #6B2171); }
    50%  {background-image: linear-gradient(180deg, #223b73, #6B2171); }
    62.5%  {background-image: linear-gradient(-135deg, #223b73, #6B2171); }
    75%  {background-image: linear-gradient(-90deg, #223b73, #6B2171); }
    87.5%  {background-image: linear-gradient(-45deg, #223b73, #6B2171); }
    100% {background-image: linear-gradient(0deg, #223b73, #6B2171); }
}
*{
    transition: all 1s;
}
img{
    max-height: 100px;
}
h1{
    display: none;
}
h2{
    font-size: 25px;
    margin: 20px 0 10px 0;
}
span{
    opacity: .8;
}
strong{
    opacity: 1;
}
span{
    font-weight: 300;
}
#time{
    font-size: 40px;
    opacity: .9;
    margin: 35px 0;
}
.at{
    font-size: 1.2em;
}
a{
    text-decoration: none;
    font-size: 17px;
    color: #eee;
    opacity: .8;
    transition: all .5s;
}
a:hover{
    opacity: .95;
}
@media only screen and (max-width: 700px) {
    .wrapper {
      padding: 25px;
    }
  }