.services
    section.title-page
        .container
            .in-title
                .breadcrumbs
                    ul
                        li.crumb 
                            a(href="servicios.html") SERVICIOS
                h2 Infraestructura de red
                p Las necesidades de conectividad y comunicación son un requisito fundamental para una operación competitiva, pero más que conectar a los dispositivos, queremos conectar a las personas.
    section.service-detail.container
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-infra
                h4.to-upper REDES ESTRUCTURADAS
                p
                    | Red Estructurada Alámbrica e Inalámbrica, es la creación de redes eficientes que permitan compartir recursos con la seguridad, confiabilidad y disponibilidad de la información, aumentando la velocidad de transmisión de los datos y reduciendo el costo general de estas acciones.
                    br
                    | Con nuestros Servicios de Red Estructurada Alámbrica e Inalámbrica, podrá obtener la integración de los diferentes servicios de los que disponga en su hogar, negocio u organización, como pueden ser telefonía, voz, datos, video, seguridad, domótica, etc. 
            .service-detail-image.col-md-5
                img(src="assets/images/service-infraestructura.jpeg", alt="Aplicaciones Web Imagen")
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-infra
                h4.to-upper AUDITORIA DE RED
                p 
                    | La auditoría de un sistema de red se realiza con la finalidad de conocer su situación actual. De esta manera, se sabe qué funciona bien, qué podría mejorar, cuáles son sus fortalezas y, por supuesto, sus debilidades. De esta manera, se puede hacer un dictamen enfocado en eliminar el máximo de amenazas y mejorar las debilidades, en potenciar las fortalezas o, simplemente, en mejorar el funcionamiento de este sistema de telecomunicaciones.
            .service-detail-image.col-md-5
                img(src="assets/images/service-auditoria.jpeg", alt="Aplicaciones Moviles Imagen")
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-infra
                h4.to-upper SISTEMAS DE SEGURIDAD Y VIDEO VIGILANCIA
                p
                    | Un sistema de seguridad y video vigilancia es una herramienta esencial para salvaguardar su hogar, negocio u organización de robos, vandalismo o incluso mal manejo de sus empleados. Ofrecemos una amplia gama en variedad de cámaras de seguridad y sistemas de vigilancia electrónica de última tecnología que sobresalen en el mercado, Contamos el personal calificado y la experiencia instalando de forma profesional sistemas fiables y garantizados.
            .service-detail-image.col-md-5
                img(src="assets/images/service-videovigilancia.jpeg", alt="Aplicaciones de Escritorio Imagen")
    section.quote.container
        blockquote "Hagamos que las cosas ocurran"
        a.btn.btn-fill(href="contacto.html") Conversemos
