.services
    section.title-page
        .container
            .in-title
                .breadcrumbs
                    ul
                        li.crumb 
                            a(href="servicios.html") SERVICIOS
                h2 Desarrollo de software
                p Creemos que el desarrollo de productos digitales actúa como palanca de cambio y transformación, por ello buscamos una mejora en las necesidades de los clientes y clara reducción de costos.
    section.service-detail.container
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-pc
                h4.to-upper APLICACIONES WEB
                p Una aplicación web puede ser vista desde cualquier dispositivo, permitiéndote relacionarte con más gente; te ayudamos a mostrar la correcta propuesta de valor y esta genere nuevas experiencias para darle el impulso adecuado a tu negocio.
            .service-detail-image.col-md-5
                img(src="assets/images/service-web.png", alt="Aplicaciones Web Imagen")
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-pc
                h4.to-upper APLICACIONES MOVILES
                p Decidir qué tipo de presencia mobile precisa tu organización no siempre es obvio y es tentador ponerse a desarrollar aplicaciones sin sentido. Por ello trabajamos en definir cual es la adecuada estrategia móvil y la vez diseñaremos la mejor de las experiencias móviles, sean aplicaciones para smartphones o tablets.
            .service-detail-image.col-md-5
                img(src="assets/images/service-movil.png", alt="Aplicaciones Moviles Imagen")
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-pc
                h4.to-upper APLICACIONES DE ESCRITORIO
                p Las aplicaciones móviles trajeron un gran impacto a la sociedad, pero los usuarios todavía usan las aplicaciones de escritorio en su horario de oficina; dado que ellas son rápidas al no enfrentar ningún obstáculo resultante de la conectividad a Internet, y poder utilizar la total capacidad del computadora.
            .service-detail-image.col-md-5
                img(src="assets/images/service-desktop.png", alt="Aplicaciones de Escritorio Imagen")
    section.quote.container
        blockquote "Hagamos que las cosas ocurran"
        a.btn.btn-fill(href="contacto.html") Conversemos
