.services
    section.title-page
        .container
            .in-title
                .breadcrumbs
                    ul
                        li.crumb 
                            a(href="servicios.html") SERVICIOS
                h2 Consultoria e innovación
                p Exploramos la estrategia y las operaciones de tu empresa desde la perspectiva de la experiencia de usuario, para empoderar a tu equipo y conseguir resultados para tu negocio.
    section.service-detail.container
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-usercentric
                h4.to-upper Experiencia de usuario
                p Buscamos entender si tu servicio empatiza con las necesidades de tus clientes de forma consistente, y esto nos permita desarrollar el crecimiento estratégico del negocio .
            .service-detail-image.col-md-5
                img.m-t-10(src="assets/images/service-ux.png", alt="Aplicaciones Web Imagen")
        article.service-detail-opt
            .service-detail-text.col-md-5
                i.icn.icn-usercentric
                h4.to-upper Mejoramiento de procesos
                p Con un enfoque más holístico y centrado en el cliente buscamos la mejora de servicios y operaciones. Esto aplicando a todos los entornos orientados a servicios y a todas las formas de cliente - usuario final (tanto externo como interno) y de empresa a empresa (B2B).
            .service-detail-image.col-md-5
                img.m-t-10(src="assets/images/service-design.png", alt="Aplicaciones Moviles Imagen")