@font-face {
    font-family: 'glacial';
    src: url('../assets/font/glacialindifference-bold-webfont.woff2') format('woff2'),
        url('../assets/font/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'glacial';
    src: url('../assets/font/glacialindifference-italic-webfont.woff2') format('woff2'),
        url('../assets/font/glacialindifference-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'glacial';
    src: url('../assets/font/glacialindifference-regular-webfont.woff2') format('woff2'),
        url('../assets/font/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}