.unborder{
	border: 0!important
}
.form-group-small .form-group{
	margin-bottom: 15px;
}
#popup-content img{
	max-width: 100%;
	width: 100%!important;
}
.navbar-right{
	float: right;
	margin-left: auto;
}
.navbar-nav ul{
	padding: 0
}
.container-map{
	padding: 0;
	position: relative;
}
.map{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.map-options{
	text-align: center;
	position: absolute;
	top: 20px;
	left: 20px;
	box-shadow: 0 0 2px #aaa;
	li{
		cursor: pointer;
		height: 36px;
		width: 36px;
		padding: 0;
	}
	i{
		width: 100%;
		opacity: .85;
		&:hover{
			opacity: 1;
		}
	}
}
.search-spacial label{
	width: 80px;
}
.search-spacial select{
	width: 140px;
}
/*.menu-options, .search-spacial, .search-titular{ */
.menu-options, .search-spacial, .search-titular, .base-map, .external-layer, .config-layer, .privileges{
	display: none;
}
.menu-options li, .btn-return-menu{
	margin: 10px 0;
}
.list-menu>li>a{
	cursor: default;
}
.external-layer a{
	margin: 15px 0 10px
}
.external-layers, .nivelDep{
	max-height: 300px;
	overflow-y: auto;
}
.titular-list{
	max-height: 300px
}
.titular-list tbody tr{
	cursor: pointer;
}
.list-capa{
	padding: 5px 20px;
}
.list-grupo-name{
	padding: 7px 0;
	width: 100%;
	cursor: pointer;
}
.list-grupo-content{
	width: 100%
}
.addExtenal .card{
	padding: 15px
}
.addExtenal .card .form-add{
	margin-top: -30px
}
.addExtenal .card .form-add a{
	float: right
}
.addExtenal .card input[type="file"]{
	width: 135px;
}
.gm-style {
	font-size: inherit;
	font-family: inherit;
	.ol-attribution {
		bottom: 1em;
		&.ol-logo-only{
			bottom: 1em;
		}
	}
  }
.ol-overviewmap{
	right: .5em;
	left: auto;
	button{
		background-color: rgb(255, 255, 255);
		color: #54667a;
		bottom: 7px!important;
		left: 3px!important;
		border: 1px solid #bbb;
		cursor: pointer;
		&:focus, &:hover{
			background-color: rgb(220, 220, 220);
		}
	}
}
.ol-scale-line{
	background: rgba(255, 255, 255, 0.7);
	bottom: 35px;
	.ol-scale-line-inner{
		color: #222;
		border: 1px solid #333;
		border-top: none;
		border-left-style: dashed;
    	border-right-style: dashed;
	}
}
.custom-input {
    padding: 2px;
}
select.custom-input {
    padding: 4px;
}
.form-coordinates{
	position: fixed;
    bottom: 0;
    left: 10px;
	.coordinates{
		height: 30px;
	    overflow: hidden;
	    opacity: .8;
	    *{
	    	font-size: 12px;
		    padding: 6px 10px;
		    line-height: 1;
		    height: 30px;
	    }	    
	}
}
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 0px;
	border-radius: 5px 5px 10px 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
	&:after, &:before{
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after{
		border-top-color: white;
		border-width: 10px;
		left: 48px;
		margin-left: -10px;
	}
	&:before{
		border-top-color: #cccccc;
		border-width: 11px;
		left: 48px;
		margin-left: -11px;
	}	
	#popup-content>div, .list-basem{
		max-height: 300px;
		overflow-y: auto;
		padding: 4px 13px 15px;
		*, h5{
			margin-bottom: 2px;
			font-size: 13.5px;
		}
	}
	#popup-header{
		padding: 8px 15px;
		background: #00818e;
	    font-size: 14px;
	    color: #fff;
	    border-radius: 5px 5px 0 0;
		h4{
			margin: 0; 
			font-size: 15px;
		    font-weight: 400;
		    color: #fff;
		}
	}
	.pop-up-close{		
		margin-top: 5px;
    	margin-right: 5px;
    	color: #fff;
	}
}
#modalLegend .modal-body{
	max-height: 300px;
	overflow: auto;
}
.btn-grey{
	margin: 0;
	margin-top: 5px;
	border: 1px solid #bbb;
	color: #999;
	background: #eee;
}
.list-group.list-ub>.list-group-item {
	border: 0;
	padding: 3px 20px;
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}
.modal-content, .modal-header{
	border-radius: 5px;
}
.modal-header{
	background: #eee;
	padding: 12px 15px;
	.title-btn{
		position: absolute;
		right: 50px;
		padding: 5px 10px;
		font-size: 13px;
		font-weight: 300;
	}
}
.form-control{
	padding: .4rem .75rem;
	min-height: 33px;
	border: 1px solid rgba(0,0,0,.25);
}
.modal.fade .modal-dialog{
	box-shadow: #4848488c 0px 1px 3px 0px;
}
.modal-show:not(.fade){
	top: 65px;
	left: 85px;
}
#popup h5{
	margin-top: 10px; 
}
.w-500{
	width: 500px;
}
.w-400{
	width: 400px;
}
.modal-header{
	position: relative;
	.mh-btn{
		position: absolute;
	    right: 50px;
	    padding: 5px 10px;
	    font-size: 13px;
	    font-weight: 300;
	}
}
.list-basem{
	padding: 5px 10px;
	li{
		border: 0;
		padding-top: 2px;
		padding-bottom: 0;
		span{
			height: 36px;
    		display: block;
		}
	}
	img{
		width: 90px;
		border-radius: 50%;
		height: 72px;
		padding: 4px;
		max-width: 100%;
		background: #eee;
		cursor: pointer;
	}
	input{
		display: none;
	}
	input:checked + img{
		background: #115456;
    	box-shadow: 0px 0px 5px #333;
    	padding: 4px;
	}
}
.topbar .dropdown-menu{
	right: 0;
    left: auto;	
}
/***********
/*  cuGis
/***********/
.btn-link:not(.btn){
	padding: 7px 0;
}
textarea::placeholder, input::placeholder{
	opacity: .5;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: .5;
}
textarea::-moz-placeholder, input::-moz-placeholder { /* Firefox 19+ */
	opacity: .5;
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder { /* IE 10+ */
	opacity: .5;
}
textarea:-moz-placeholder, input:-moz-placeholder { /* Firefox 18- */
	opacity: .5;
}
.row.row-um{
	margin: 0;
}
.row.row-um div{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
}
.nav-tabs{
	z-index: 9;
	position: relative;
	overflow: hidden;
}
.tab-pane .card{
	margin-top: -1px;
}
.pisos .form-group{
	position: relative;
}
.pisos .form-group .delete-piso{
	position: absolute;
	top: 0;
	right: 0;
}
.piso-title{
	display: inline-block;
}
.card-bloq>* {
	margin-left: 20px;
	width: calc(100% - 40px);
}
.card-bloq h5 {
	margin-left: 0;
}
.card-bloq select, .card-bloq input, .card-bloq textarea{
	margin-bottom: 10px;
}
.card-bloq>*:last-child{
	margin-bottom: 0;
}
.card-bloq select{
	font-size: 14px;
}
.tipo-obra .row-um label{
	display: inline-block;
}
.tipo-obra .row-um input[type="text"], .tipo-obra .row-um input[type="number"]{
	display: inline-block;
	width: 50px;
}
.propietario.card-bloq>*{
	display: inline-block;
	width: auto;
}
.propietario *{
	margin-bottom: 0!important;
}
.adjunto input[type="text"]{
	width: 40px;
	margin-left: 5px;
	padding: 4px 8px;
	min-height: 30px;
}
.scrtabs-tab-container, .scrtabs-tab-scroll-arrow,
.scrtabs-tabs-fixed-container, .scrtabs-tab-scroll-arrow{
	height: 36px;
}
.scrtabs-tab-scroll-arrow{
	border-top: 1px solid #ddd;
	padding-top: 10px;
}
.scrtabs-tab-scroll-arrow .glyphicon{
	margin-left: 2px;
}
.tab-content{
	max-height: 400px;
	overflow-y: scroll;
	width: 100%;
}
.fuhu-cuadro-areas tr td, .fuhu-cuadro-areas tr th{
	display: inline-block;
}
.fuhu-cuadro-areas tr td:first-child, .fuhu-cuadro-areas tr th:first-child{
	width: 220px;
}
.fuhu-cuadro-areas tr td input, .fuhu-cuadro-areas tr .head-cuadro{
	width: 100px;
	margin-right: 20px;
}
.detail-expediente{
	width: 500px;
}
.detail-expediente .row{
	margin: 5px -15px;
}
.detail-expediente label, .detail-expediente a{
	margin-top: 5px;
	display: inline-block;
}
.form-check{
	display: inline-block;
	width: 38px;
	text-align: left;
}
.form-observacion{
	min-width: 400px;
}
.modal-lg .detail-expediente{
	width: 800px;
	margin: 0 auto;
}
.row-obs .obs-list-edit, .list-obs, .list-verificacion, .list-parametros .tab-content{
	max-height: 250px;
}
.row-obs .obs-list-edit textarea{
	font-size: 14px;
	line-height: 1.5em;
}
.row-obs-check, .mheight{
	max-height: 300px;
}
.row-obs-check .col-sm-8, .obs-list-edit, .list-obs, .list-verificacion, .mheight{
	overflow: auto;
}
.list-obs{
	padding-left: 20px;
}
.list-obs li{
	margin: 10px 0;
}
.input-small{
	font-size: 14px;
}
.list-parametros label{
	display: inline-block;
	font-weight: 400;
	width: 150px;
}
.list-parametros label+input{
	width: calc(100% - 150px);
}
.list-parametros input{
	font-size: 14px;
}
.list-parametros input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: .7;
}
.list-parametros input::-moz-placeholder { /* Firefox 19+ */
	opacity: .7;
}
.list-parametros input:-ms-input-placeholder { /* IE 10+ */
	opacity: .7;
}
.list-parametros input:-moz-placeholder { /* Firefox 18- */
	opacity: .7;
}
.alert-process{
	display: none;
}
.alert-process.show{
	display: block;
}
.observaciones_list{
	position: relative;
}
.observaciones_list .close{
	position: absolute;
	top: 5px;
	right: 10px;
	opacity: .3;
}
#modalResolucion .row{
	max-width: 100%;
}
#modalFuhuShow strong, #modalFueShow strong{
	line-height: 28px;
}
.list-expedientes .show>a{
	margin-bottom: 50px;
}
.list-expedientes .show .dropdown-menu{
	width: 830px;
	top: 30px;
	text-align: center;
	border: 0;

}
.list-expedientes .dropdown-menu a{
	width: 49%;
	display: inline-block;
}
/***********
/*  UEFSA
/***********/
.table-interv{
	td{
		min-width: 120px;
		&.long{
			min-width: 400px;
		}
	}
}
.search-body{
	max-height: 450px;
    overflow-y: auto;
    width: 500px;
}
.place{
	.place-title{
		width: 150px;
		margin: 0;
		margin-bottom: 15px;
		margin-left: 10px;
		font-weight: 500;
	}
	.depList:not(.active){
    	border-right: 0;    	
	}
	.depList.active+.depList{
		border-right: 0;
	}
	.place-group{
		padding: 0 15px;
		position: relative;
    	float: left;
    	margin: 5px 0;
		&.active{
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			&>.place-icon{
				transform: rotateZ(90deg);				
			}
			&>.row{
				display: block;
			}
		}
		.row{
			display: none;
			padding: 5px;
		    border: 1px solid #ccc;
		    overflow: hidden;		    
    		margin: 10px 0;
		}
		.place-icon{
			border: 1px solid #ccc;
		    padding: 3px 7px;
		    font-size: 1em;
		    border-radius: 3px;
		    position: absolute;
    		right: 25px;
    		&:hover{
    			background: #eee;
    		}
		}
		.provList.active{
			.row{
				display: block;
			    border: 0;
			    margin: 0;
			    border-bottom: 1px solid #ccc;
    			margin-bottom: 10px;
			}
		}
	}
	.placeCheck{
		margin-bottom: 5px;
		margin-top: 5px;
		margin-left: 0;
	}
}
.option_s{
	height: auto!important;
    border-radius: .25rem 0 0 .25rem;
    border-right: 0;
}
.fileList{
	overflow-wrap: break-word;
}
.ov-h{
	overflow: hidden;
	.form-control-file{
		color: #fff;
	}
}
#popup hr {
    margin: .7rem 0;
}
.icn-trans{
	border-radius: 50%;
	border: 1px solid #999;
	width: 25px;
    text-align: center;
    height: 25px;    
    cursor: pointer;
    float: right;
    margin-left: 5px;
}
.icn-trans span{	
	padding: 3px;
    display: block;
    font-weight: 600;
    font-size: 12px;

}
.layer-slide{
	display: block;
    width: 100%;
    padding: 5px 15px;
    span{
    	display: block;    	
    }
}
.options-layers{
	position: absolute;
    right: 0;
    top: 0;
}
#navMarkers{
	ul{
		width: 75px;
	}
	a{
		opacity: .6;
	}
	img{
		width: 18px;
	}
}
#popup-infolayer .infoDocs:first-child() hr{
	display: none;
}
.modal-content .modal-header {
    border-radius: 5px 5px 0 0;
    background: #326a98;
    *{
    	color: #fff;
    }
}
.btn-primary:hover, .btn-primary.disabled:hover {    
    opacity: 0.9;
}
.login-form .form-group{
	min-height: 65px!important;
}