.icn{
	background: red;
	width: 53px;
	height: 41px;
	display: block;
	overflow: visible;
	&.icn-menu{
		height: 3px;
		width: 30px;
		border-radius: 5px;
		background: #fff;
		position: relative;
		&:before, &:after{
			transition: all .5s;
			content: '';
			position: absolute;
			height: 3px;
			width: 24px;
			border-radius: 5px;
			background: #fff;
			margin: 3px 0;
			display: block;
			top: -12px;
			right: 0;
		}
		&:after{
			top: 6px;
		}
	}
	&.icn-pc{		
		background: url(../assets/images/icn-pc.png);
		background-size: cover;
		background-repeat: no-repeat;
		&:hover{
			background-position: bottom;
		}
	}
	&.icn-infra{
		height: 45px;
		background: url(../assets/images/Icn-infra.png);
		background-size: cover;
		background-repeat: no-repeat;
		&:hover{
			background-position: bottom;
		}
	}
	&.icn-usercentric{		
		background: url(../assets/images/Icn-user.png);
		background-size: cover;
		background-repeat: no-repeat;
		&:hover{
			background-position: bottom;
		}
	}
	@for $i from 1 through 5{
		&.icn-n#{$i}{
			background: transparent;
			border: 3px solid $blue;
			border-radius: 50%;
			height: 48px;
			width: 48px;
			position: relative;
			&:after{
				position: absolute;
				content: '#{$i}';
				width: 100%;
				text-align: center;
				font-size: 23px;
				font-weight: bold;
				color: $blue;
				line-height: 45px;
				font-style: normal;
				margin-left: 1px;
			}
		}
	}
}
.row-right, .row-left{
	position: relative;
	&:after{
		content: '';
		width: 72px;
		height: 63px;
		background: url(../assets/images/icn-row.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		right: -100px;
		top: 55px;
		display: block;
		opacity: .3;
	}
}
.row-left{	
	&:after{
		content: '';
		transform: scaleX(-1);
		right: auto;
		left: -100px;
	}
}
.nav-active{
	.icn-menu{
		height: 0;
		width: 30px;
		border-radius: 5px;
		background: $blue;
		position: relative;
		&:before, &:after{
			content: '';
			position: absolute;
			height: 3px;
			width: 24px;
			border-radius: 5px;
			background: $blue;
			margin: 0;
			display: block;
			top: 20px;
			right: 0;
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
}