
/*============================================================== 
 For Laptop & above all (1650px) 
 ============================================================== */

@media(min-width:1650px) {    
}


/*============================================================== 
 For Laptop & above all (1370px) 
 ============================================================== */

@media(max-width:1370px) {    
}


/*-- ============================================================== 
 Small Desktop & above all (1024px) 
 ============================================================== */

@media(max-width:1023px) {
    .home{
        .title-page{
            padding: 170px 0 140px;
        }
        h2{
            font-size: 40px;
        }
    }
    .wrapper{
        section, footer{
            padding: 50px 0;
        }
    }
    .services{
        .service{
            margin-top: 30px;
            margin-right: 4%;
            margin-left: 2%;
        }
    }
    .project{
        &>div{
            max-width: 50%;
            p{
                font-size: 15px;
            }
        }
    }
}


/*-- ============================================================== 
 Ipad & above all(768px) 
 ============================================================== */
 @media(min-width:768px) and (max-width:1023px){
    .services{
        .service-detail-opt{
            img{
                margin-top: 100px;
            }
        }
    }
 }
@media(max-width:768px) {
    .title-page{
        padding: 130px 0 100px;
        background-position: center;
    }
    .home{
        h2{
            font-size: 36px;
        }
        .process{
            &:before{
                height: 120px;
                left: auto;
                right: 0;
            }
            h3{
                position: relative;
                margin-bottom: 70px;
            }
            .step-process{
                margin-left: 0;
                max-width: 60%;
            }
        }
    }
    .services{
        .service{
            max-width: 98%;
            margin-top: 20px;
            padding: 26px 36px;         
        }
        .service-detail{
            .service-detail-opt{
                margin-bottom: 40px;
            }
        }
    }
    .process{
        img{
            width: 100%;
        }
        .process-list{
            .step-process{
                p{
                    margin-top: 5px;
                    margin-left: 0;
                }
            }
        }
    }
    header{
        .navbar-nav{
            li{
                position: absolute;
                top: 2px;
                right: 0;
                &:first-of-type{
                    display: block;
                }
                .nav-link{
                    margin-top: 12px;
                    display: inline-block;
                    opacity: 1;
                }
                .nav-item{
                    height: 60px;
                }
                &.active{
                    width: 100%;
                    &:after{
                        width: 0;
                    }
                }
            }            
            li:nth-child(n+2){
                display: none;
            }
            &.nav-active{
                transition: all .3s;
                width: 100%;
                padding-top: 45px;
                padding-bottom: 15px;
                top: 0;
                z-index: 9999;
                background: #fff;
                li:nth-child(n+2){
                    position: relative;
                    display: block;
                    top: 0;
                    width: 100%;
                    max-width: 100%;
                    z-index: 999;
                    margin: 0;
                    text-align: center;
                    a{
                        border: 0;
                        margin: 1px 0;
                        width: 100%;
                        padding: 12px 16px;
                        color: $blue;
                        border-top: 1px solid $background;
                    }
                }
                li:nth-of-type(2){
                    margin-top: 20px!important;
                }
            }            
        }
    }
    :not(.home)
    {
        .title-page{
            padding: 130px 0 50px;
            background-position: center;
        }
        .in-title{
            width: 100%;
        }
    }
    footer{
        background-position: 450px 20px;
    }
}


/*-- ============================================================== 
 Phone and below ipad(767px) 
 ============================================================== */

@media (max-width: 600px){    
    .container{
        margin: 0 15px;
    }
    article{
        margin: 20px 0!important;
        width: 100%;
        max-width: 100%;
    }
    .home{
        h2{
            font-size: 24px;
            width: 100%;
            max-width: 100%;
            line-height: 45px;
        }
        .process{            
            .step-process{
                margin: 0;
                max-width: 100%;
                &:after{
                    display: none;
                }
                i{
                    display: block;
                }
                p{
                    margin-left: 10px;
                }
            }
        }
    }
    .process{
        .process-list{
            .step-process{
                .step-image{
                    margin: 0 0 20px;
                    margin-left: 0!important;
                }
            }
        }
    }
    .filter-project{
        li{
            margin-bottom: 15px;
        }
    }
    .project{
        padding-top: 20px;
        &>div{
            width: 100%;
            max-width: 100%;
        }
        .project-detail{
            margin-top: 0!important;
            p{
                margin-top: 0!important;
                padding-top: 20px!important;
            }
        }
    }
    .services{
        .service-detail{
            .service-detail-opt{
                &>div{
                    margin: 0;
                    padding: 0;
                    img{
                        margin: 0 0 10px;
                    }
                }
            }
            .service-detail-image{
                text-align: center;
            }
        }
    }
    footer{
        a{
            display: block;
        }
    }
}