<div id="popup-pedido">
    <h5>N° Pedido: <span id="nPed"></span></h5>
    <ul style="padding-left: 20px;font-size: .9em;margin-bottom: 0;">
        <li>
            <b>Fecha: </b><span class="parseDateTimest" id="popup-fechaPed"></span>
        </li>
        <li>
            <b>Vendedor: </b><span id="popup-vendedorPed"></span>
        </li>
        <li>
            <b>Cliente: </b><span id="popup-clientePed"></span>
        </li>
        <li>
            <b>Fecha entrega: </b><span id="popup-fechaentPed"></span>
        </li>
        <li>
            <b>Orden compra: </b><span id="popup-ordenPed"></span>
        </li>
        <li>
            <b>Monto: </b><span id="popup-montoPed"></span>
        </li>
        <li>
            <a href="#" class="btn btn-primary" data-visualizar="">
                //-<i class="fa fa-book"></i>
                | Resumen de pedido
            </a>
        </li>
    </ul>
</div>