.container-fluid.container-map    
	// Start Page Content
	#map.map
		#popup.ol-popup
			button.pop-up-close.close(type='button', aria-label='Close')
				span(aria-hidden='true') ×
			#popup-header
				h4 Información
			#popup-content
				#popup-pedido
					h5
						| N° Pedido: 
						span#popup-nPed
					ul(style='padding-left: 20px;font-size: .9em;margin-bottom: 0;')
						li
							b Fecha: 
							span#popup-fechaPed.parseDateTimest
						li
							b Vendedor: 
							span#popup-vendedorPed
						li
							b Cliente: 
							span#popup-clientePed
						li
							b Fecha entrega: 
							span#popup-fechaentPed.parseDateTimest
						li
							b Orden compra: 
							span#popup-ordenPed
						li
							b Monto: 
							span#popup-montoPed
						li
							b Resumen: 
							br
							a.btn.btn-link(href="#")
								<i aria-hidden="true" class="fa fa-download m-r-10"></i>
								| Descargar
				#popup-entrega
					h5
						| N° Entrega: 
						span#popup-nPed
					ul(style='padding-left: 20px;font-size: .9em;margin-bottom: 0;')
						li
							b Fecha: 
							span#popup-fechaEnt
						li
							b Documento: 
							span#popup-docEnt
						li
							b Foto: 
							img#popup-fotoEnt
				#popup-track
					h5
						| Track: 
						//-span#popup-nPed
					ul(style='padding-left: 20px;font-size: .9em;margin-bottom: 0;')
						li
							b Repartidor: 
							span#popup-trackRep
						li
							b Fecha: 
							span#popup-trackFech
				#popup-pdv
					h5
						| Punto de venta: 
						span#popup-pdvNombre
					ul(style='padding-left: 20px;font-size: .9em;margin-bottom: 0;')
						li
							b Razon social: 
							span#popup-pdvrazsoc
						li
							b Rubro: 
							span#popup-pdvrubro
						li
							b Tipo: 
							span#popup-pdvtipoloc
						li
							b Distrito: 
							span#popup-pdvdistrito
						li
							b Dirección: 
							span#popup-pdvdirecc
				#popup-poi
					//-h5
						| Punto: 
						//-span#popup-nPed
					span#popup-poiDescripcion
	.map-options
		ul.list-group
			li#zoom-in.list-group-item(title='Acercar')
				i.fa.fa-plus
			li#zoom-out.list-group-item(title='Alejar')
				i.fa.fa-minus
			li#zoomBox.list-group-item(title='Acercar a recuadro')
				i.fa.fa-crop
				.map-option-list
					ul
						li Presione Shift + Click
			li#prevView.list-group-item(title='Ir a vista anterior')
				i.fa.fa-arrow-left
			li#nextView.list-group-item(title='Ir a vista siguiente')
				i.fa.fa-arrow-right
			li#zoomMax.list-group-item(title='Zoom maximo')
				i.fa.fa-arrows-alt
			li#geolocMap.list-group-item(title='Geolocalización')
				i.fa.fa-crosshairs
			//- li#idCoor.list-group-item(title='Coordenadas')
				i.fa.fa-globe
			li#navMap.list-group-item(title='Navegar en el mapa')
				i.fa.fa-arrows
			li#draw.list-group-item(title='Dibujar')
				i.fa.fa-edit
				.map-option-list
					ul
						li(data-draw-type='Polygon') Poligono
						li(data-draw-type='Point') Punto
						li(data-draw-type='LineString') Linea
						//- Modificar - Cambiar tamaño - Rotar - Mover
			li#measure.list-group-item(title='Medir')
				i.fa.fa-measure
				.map-option-list
					ul
						li(data-measure-type='Polygon') Area
						li(data-measure-type='LineString') Distancia
	.form-inline.form-coordinates
		.form-group
			.input-group.coordinates
				.input-group-addon S.R.
				select#spatialReference.form-control
					option(value='EPSG:4326') WGS 84
					option(value='EPSG:24877') PSAD 56 UTM Zona 17S
					option(value='EPSG:24878') PSAD 56 UTM Zona 18S
					option(value='EPSG:24879') PSAD 56 UTM Zona 19S
					option(value='EPSG:32717') WGS 84 UTM Zona 17S
					option(value='EPSG:32718') WGS 84 UTM Zona 18S
					option(value='EPSG:32719') WGS 84 UTM Zona 19S
					option(value='EPSG:3857') Pseudo Mercator
				#lblCoordinate.input-group-addon
