.contact.no-footer
	section.title-page
		.container
			.in-title
				h2 Contáctanos
				p Estas listo para contarnos tu idea o deseas más información sobre nosotros, estamos aquí para escucharte.
	section.contact-detail.container
		article.col-md-6
			p
				| Escríbenos a 
				span.font-bold
					a(href="mailto:hola@icetart.com") 
						| hola
						span.no-font &#64;
						| icetart&#46;com
				br
				| o puedes llamarnos al 
				span.font-bold
					a(href="tel:+51935426697") (+51) 935 426 697
			ul.social
				li
					a(href="https://www.facebook.com/icetart/")
						img(src="assets/images/icn-facebook.png", alt="Icetart Facebook")
				li
					a(href="https://www.youtube.com/channel/UCbtRJkQaT7gpCBiHid7YMCw/")
						img(src="assets/images/icn-youtube.png", alt="Icetart Youtube")
			img.logo(src='assets/images/logo-color.png', alt='Icetart group logo')
		article.col-md-4.to-messenger
			img(src="assets/images/human-brush.png", alt="")
			span Tambien podemos hablar por aquí
			i.row-right
		article.hidden.col-md-5
			form(action="#")
				.input-group
					label(for="nameContact") Nombre: 
					input#nameContact(type="text", name="name")
				.input-group
					label(for="messageContact") Mensaje: 
					textarea#messageContact(name="message", cols="30", rows="3")
				.input-submit
					input.btn.btn-fill(type="submit", value="Conversemos")