.projects
    section.title-page
        .container
            .in-title
                h2 Portafolio
                p Los últimos proyectos que nuestros clientes amaron, lee nuestros casos de estudio y descubre porque se sintieron asi.
    section.projects-list.container
        .filter-project
            ul
                li.filter-p-option.active
                    a(href="#") Todos
                li.filter-p-option
                    a(href="#") WEB
                li.filter-p-option
                    a(href="#") MOVILE
                li.filter-p-option
                    a(href="#") DESKTOP
                li.filter-p-option
                    a(href="#") INFRAESTRUCTURA
        article.project
            .project-image.col-md-7
                img(src="assets/images/project1.png", alt="Proyecto Gestión Catastral")
            .project-detail.col-md-4
                p
                    | La preocupación por mejorar la gestión territorial en las municipalidades del Perú, impulsaron al desarrollo del primer módulo de 
                    strong “Gestión Catastral” 
                    | con la finalidad de contribuir al correcto registro de predios existentes. 
                    br
                    br
                    | Con el sistema se podrá gestionar a la información de los 
                    strong contribuyentes 
                    | de tu territorio de manera sencilla, así mismo, el usuario podrá registrar y consultar 
                    strong fichas catastrales 
                    | para poder gestionar la relación contribuyente – predio. Además, se puede emitir certificados acerca del 
                    strong impuesto predial 
                    | que los contribuyentes tributan a la entidad pública.
                ul
                    li
                        img(src="assets/images/logo-java.png", alt="Java", title="Java")
                    li
                        img(src="assets/images/logo-postgres.png", alt="Postgres", title="Postgres")
        article.project
            .project-image.col-md-7
                img(src="assets/images/project2.png", alt="Proyecto Fiscalización")
            .project-detail.col-md-4
                p.m-t-40
                    | Con el sistema se podrá gestionar a la información de los contribuyentes de tu territorio de manera sencilla, así mismo, el usuario podrá registrar y consultar fichas catastrales para poder gestionar la relación contribuyente – predio. Además, se puede emitir certificados acerca del impuesto predial que los contribuyentes tributan a la entidad pública.. 
                ul
                    li
                        img(src="assets/images/logo-ionic.png", alt="Ionic", title="Ionic")
                    li
                        img(src="assets/images/logo-java.png", alt="Java", title="Java")
                    li
                        img(src="assets/images/logo-postgres.png", alt="Postgres", title="Postgres")