.services
    section.title-page
        .container
            .in-title
                h2 Servicios
                p Somos el partner idóneo para soluciones de tecnología e innovación. Nosotros nos envolvemos desde crear el concepto y diseño, pasamos por el proceso de ingeniería hasta la entrega del producto final que deleitara a tus usuarios.
    section.services-list.container
        a(href="desarrollo.html")
            article.service.col-md-5
                i.icn.icn-pc
                h4.to-upper DESARROLLO DE SOFTWARE
                p Creemos que el desarrollo de productos digitales actúa como palanca de cambio y transformación, por ello buscamos una mejora en las necesidades de los clientes y clara reducción de costos.
        a(href="infraestructura.html")
            article.service.col-md-5
                i.icn.icn-infra
                h4.to-upper INFRAESTRUCTURA DE RED
                p Las necesidades de conectividad y comunicación son un requisito fundamental para una operación competitiva, pero más que conectar a los dispositivos, queremos conectar a las personas.
        a(href="#")
            article.service.col-md-5
                i.icn.icn-usercentric
                h4.to-upper CONSULTORIA E INNOVACIÓN
                p Exploramos la estrategia y las operaciones de tu empresa desde la perspectiva de la experiencia de usuario, para empoderar a tu equipo y conseguir resultados para tu negocio.