script#cm-contacto-template(type='text/x-template')
    #modalContacto.modal.fade.in(role='dialog', aria-labelledby='modal contacto')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.modal-draggable
                    h5.modal-title Contacto
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    h4 IdeasG                    
                    b Email: 
                    a(href='mailto:consultas@ideasg.org') consultas@ideasg.org
                    br