script#cm-import-template(type='text/x-template')
    #modalImport.modal(tabindex='-1', role='dialog', aria-labelledby='modal config', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.w-400
                .modal-header
                    h5.modal-title Actualizar Base de Datos
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p Las siguientes seran tablas actualizadas
                    ul.list-ub.list-basem.text-center.row.mheight
                        li.list-group-item.col-sm-12(v-for='(base, index) in importStore.tablas', :key='index')
                            span {{base.name}}
                            template(v-if="base.status == 0")
                                img(src="assets/images/icn-danger.png")
                            template(v-if="base.status == 1")
                                img(src="assets/images/checkLoad.gif")
                            template(v-if="base.status == 2")
                                img(src="assets/images/icn-checkG.png")
                    a.btn.btn-primary.text-right(href="#", @click="update()") Actualizar