script#cm-leyenda-template(type='text/x-template')
    #modalLegend.modal.fade.in(role='dialog', aria-labelledby='modal leyenda', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.modal-draggable
                    h5#exampleModalLabel.modal-title Leyenda
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    ul.list-group.list-ub
                        li.list-group-item.list-grupo-item(v-for='(capa, indexC) in controlCapaStore.capaVisible', v-if='capa.visible', :key='indexC')
                           span(style="width: 100%;") {{capa.nomb_capa}}
                           br
                           img(:src='imgUrl+capa.tabla_capa', :alt='capa.nomb_capa')
                            