script#cm-pedido-template(type='text/x-template')
    #modalPedido.modal.modal-new(tabindex='-1', role='dialog', aria-labelledby='modal config', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Pedidos
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .filter-pedidos(v-show="!showTable")
                        .form-group.filter-pedido
                            label(style='width: 100px', for='filterName') Buscar por:
                            .search-pedido.search.input-icon
                                input(type="text", name="filterName", placeholder="Vendedor", v-model="filter.name")
                                i.fa.fa-user
                        .form-group.temp-pedido
                            label(style='width: 100px', for='filterTime') Fecha/Tiempo:                         
                            .pedido-lapse-detail
                                .lapse-detail
                                    span Desde
                                    .calendar-pedido.calendar.input-icon
                                        input(type="date", name="filterSCalendar", v-model="filter.startDate")
                                        i.fa.fa-calendar
                                    .time-pedido.time.input-icon
                                        input(type="time", name="filterSTime", v-model="filter.startTime")
                                        i.fa.fa-clock-o
                                .lapse-detail
                                    span Hasta
                                    .calendar-pedido.calendar.input-icon
                                        input(type="date", name="filterECalendar", v-model="filter.endDate")
                                        i.fa.fa-calendar
                                    .time-pedido.time.input-icon
                                        input(type="time", name="filterETime", v-model="filter.endTime")
                                        i.fa.fa-clock-o
                        .form-group.form-action
                            a.clear-pedido.btn.btn-link(href="#", @click="cleanFilter") Limpiar
                            a.do.do-pedido.btn.btn-primary(href="#", @click="applyFilter") Aplicar
                    .list-pedidos(v-show="showTable")
                        a.return-back(href="#", @click="toFilter") << Volver a filtrado
                        .form-tablart
                            ul.tablart-header.nav.nav-tabs(role="tablist")
                                li.nav-item
                                    a#nav-table-pedido-tab.nav-link.active(data-toggle="tab" href="#nav-table-pedido" role="tab" aria-controls="nav-table-pedido" aria-selected="true") Listado
                                li.nav-item
                                    a#nav-graph-pedido-tab.nav-link(data-toggle="tab" href="#nav-graph-pedido" role="tab" aria-controls="nav-graph-pedido" aria-selected="true") Grafico
                            .tablart-content.tab-content.mheight
                                #nav-table-pedido.table-bloq.table-resp.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-table-pedido-tab")
                                    .table-responsive
                                        table.table
                                            thead
                                                tr
                                                    //-th 
                                                    th Fecha
                                                    th Hora
                                                    th Vendedor
                                                    th Cliente
                                                    th  -
                                            tbody                                                
                                                tr(v-for="(pedido, index) in pedidosStore.pedidos")
                                                    //-td 
                                                        i.fa.fa-circle.text-danger
                                                    td {{pedido.ped_fechapedido | timestampDate}}
                                                    td {{pedido.ped_fechapedido | timestampTime}}
                                                    td {{pedido.ped_vendedor}}
                                                    td {{pedido.ped_cliente}}
                                                    td
                                                        a(href="#", @click.prevent="zoomPedido(pedido.ped_latitud, pedido.ped_longitud)")
                                                            i.fa.fa-map-marker
                                                tr.table-sorry(v-show="pedidosStore.pedidos.length < 1")
                                                    td(colspan="5")
                                                        span Lo sentimos, no hay pedidos que mostrar :(
                                #nav-graph-pedido.table-bloq.table-resp.tab-pane.fade(role="tabpanel" aria-labelledby="nav-graph-pedido-tab")
                                    span Hello Grafico
                    i.fa.fa-spinner.fa-spin.pedidoLoad(style="display: none")
                    .charge.pedidoLoad(style="display: none")