script#cm-searchtitular-template(type='text/x-template')
    #modalSearchTitular.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal config', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Busqueda por titular
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .titular-form
                        .form-group
                            input.form-control(type='text', placeholder='Ingrese el nombre...', v-model='titularSearch', @keyup.enter='buscarTitular')
                            a#search-titular.btn.btn-primary.w-100(href='#', @click='buscarTitular') Buscar
                    b.p-l-5 Resultados:
                    .titular-list.table-responsive.m-t-10
                        table.table.table-hover.table-sm
                            tbody
                                tr(v-for='(titular, index) in titularStore.titular', :key='index', @click='mapTitular(titular.id_expediente)')
                                    td {{titular.appnom}}
                    i.fa.fa-spinner.fa-spin.searchTitularLoad(style='display: none')
                    .charge.searchTitularLoad(style='display: none')