script#cm-track-template(type='text/x-template')
    #modalTrack.modal.modal-new(tabindex='-1', role='dialog', aria-labelledby='modal config', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Trackeo
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .form-group.filter-track
                        label(style='width: 100px', for='filterTrack') Filtrar por: 
                        //a.active.btn.btn-default(href="#")
                            i.fa.fa-user
                        a.active.btn.btn-default(href="#")
                            i.fa.fa-truck
                        .search-track.search.input-icon
                            input(type="text", name="filterTrack", placeholder="Buscar...", v-model="filter.name")
                            i.fa.fa-search
                    .form-group.temp-track
                        label(style='width: 100px', for='filterTime') Fecha/Tiempo: 
                        //.track-lapse
                            label.active(for="#realtime-track")
                                input#realtime-track(type="checkbox", name="")
                                | Tiempo real
                            //-br
                            //-label(for="#realtime-track")
                                input#realtime-track(type="radio", name="")
                                | Rango de tiempo
                        .track-lapse-detail
                            .lapse-detail
                                span Desde
                                .calendar-track.calendar.input-icon
                                    input(type="date", name="filterTrackCalendar", v-model="filter.fa")
                                    i.fa.fa-calendar
                                .time-track.time.input-icon
                                    input(type="time", name="filterTrack", v-model="filter.ta")
                                    i.fa.fa-clock-o
                            .lapse-detail
                                span Hasta
                                .calendar-track.calendar.input-icon
                                    input(type="date", name="filterTrack", v-model="filter.fb")
                                    i.fa.fa-calendar
                                .time-track.time.input-icon
                                    input(type="time", name="filterTrack", v-model="filter.tb")
                                    i.fa.fa-clock-o
                    .form-group.form-action
                        a.clear-track.btn.btn-link(href="#", @click="cleanFilter") Limpiar
                        a.do.do-track.btn.btn-primary(href="#", @click="toTable") Aplicar
                    i.fa.fa-spinner.fa-spin.trackLoad(style="display: none")
                    .charge.trackLoad(style="display: none")
                    .alert.alert-success.alert-track(style="padding: 10px 20px;padding: 10px 20px;margin: 0;margin-top: 10px;", v-show="alertTrack")
                        i.fa.fa-check 
                        |  Actualización de mapa exitosa