block config
	include pug/config.pug

doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		//- Tell the browser to be responsive to screen width
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Icetart Group - Transformación digital para empoderar a tu organización y tus clientes')
		meta(name='author', content='Icetart')
		meta(property="og:image", content="/img/logoIg.png")
		meta(property="og:image:type", content="image/png")
		meta(property="og:image:width", content="200")
		meta(property="og:image:height", content="200")
		meta(property="og:description", content="Transformación digital para empoderar a tu organización y tus clientes.")
		//- Favicon icon
		link(rel='shortcut icon', type='image/x-icon', sizes='16x16', href='assets/images/favicon.ico')
		title= 'Me perdi'.concat(' - ', siteName)
		//- Bootstrap Core CSS
		link(href='assets/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		//- Custom CSS
		link(href='css/style.css', rel='stylesheet')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//[if lt IE 9]
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
			[endif]
	body.fix-header
		//- Component Template		
		.wrapper
			div.is-404.no-footer.text-center(style="margin-top: 100px;")
				img(src="assets/images/logo-lost.png", alt="", style="max-height: 80px;")
				br
				br
				br
				h4 ERROR 404
				h3 Ups! La página que buscas no existe
				br
				a.btn.btn-fill(href="/", style="margin-top: 10px;") Volvamos al inicio :)
		include pug/layout/messenger.pug		

