- var siteName = 'Icetart Group'
- var pageTitle = ''
- var currentPage = ''
- 
    var menu = [
        {url: 'servicios', name: 'Servicios', current: 'servicios'},
        {url: 'proceso', name: 'Proceso', current: 'proceso'},
        {url: 'portafolio', name: 'Portafolio', current: 'portfolio'},
        {url: 'unete', name: 'Unete', current: 'unete'},
        {url: 'contacto', name: 'Contáctanos', current: 'contacto'}
    ]