//- footer
footer.footer
	.container
		h3#contacto Contacto
		p
			| ¿Estas listo para contarnos tu idea?
			br
			br
			| Escríbenos a 
			span.font-bold
				a(href="mailto:hola@icetart.com") 
					| hola
					span.no-font &#64;
					| icetart&#46;com
			br
			| o puedes llamarnos al 
			span.font-bold
				a(href="tel:+51935426697") (+51) 935 426 697
		img.logo(src='assets/images/logo-color.png', alt='Icetart group logo')